node-red/flows.json
[{"id":"be1a2b5d.496948","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36e53bc7.cfc584","type":"postgresdb","cfgname":"local","hostname":"postgres","port":"5432","db":"postgres","ssl":false},{"id":"f9f4ac96.80eab","type":"http request","z":"be1a2b5d.496948","name":"manufacturers","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/zwave-js/node-zwave-js/master/packages/config/config/manufacturers.json","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":160,"wires":[["fb6c79.4be0c388"]]},{"id":"9a53cdd.4c8ac3","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["f9f4ac96.80eab"]]},{"id":"2596337a.07ff3c","type":"http request","z":"be1a2b5d.496948","name":"sensors","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/zwave-js/node-zwave-js/master/packages/config/config/sensorTypes.json","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":60,"wires":[["fbf114d2.8348b8"]]},{"id":"21d188f2.0b3338","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":60,"wires":[["2596337a.07ff3c"]]},{"id":"fbf114d2.8348b8","type":"function","z":"be1a2b5d.496948","name":"storeSensors","func":"msg.payload = JSON.parse(msg.payload.replace(/\\/\\/[^\\n]+/g, ''))\nflow.set('sensors', Object.keys(msg.payload))","outputs":0,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[]},{"id":"fb6c79.4be0c388","type":"function","z":"be1a2b5d.496948","name":"parseManufacturers","func":"const hexs = Object.keys(msg.payload)\nflow.set('manufacturers', hexs)\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":590,"y":160,"wires":[]},{"id":"83125458.d39088","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["cd39936c.15e4e"]]},{"id":"cd39936c.15e4e","type":"function","z":"be1a2b5d.496948","name":"genereteDummy","func":"var ID = function () {\n  // Math.random should be unique because of its seeding algorithm.\n  // Convert it to base 36 (numbers + letters), and grab the first 9 characters\n  // after the decimal.\n  return Math.random().toString(16).substr(2, 7);\n};\n\nvar hex = function () {\n  // Math.random should be unique because of its seeding algorithm.\n  // Convert it to base 36 (numbers + letters), and grab the first 9 characters\n  // after the decimal.\n  return Math.random().toString(16).substr(2, 4);\n};\n\nvar random = function(items) {\n    return items[Math.floor(Math.random() * items.length)];\n}\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nconst manufacturers = flow.get('manufacturers')\nconst types = flow.get('sensors')\n\nconst networks = []\n\nfor(var i = 0;i < 100; i++) {\n    const network = {\n        id: ID(),\n        driverVersion: '7.0.0',  \n        applicationName:'zwavejs2mqtt',\n        applicationVersion: '2.4.0',\n        devices: [],\n    }\n    \n    const total = getRandomInt(10, 50)\n    for(let i = 1; i < total; i++) {\n        network.devices.push({\n            manufacturerId: random(manufacturers),\n            productType: random(types),\n            productId: '0x' + hex(),\n            firmwareVersion: `${getRandomInt(1, 5)}.${getRandomInt(0, 255)}`\n        });\n    }\n\n    networks.push(network)\n}\n\nnode.send({payload: {data: networks}})\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["23ed0644.05dfda"]]},{"id":"6ff68cc.1123c74","type":"http request","z":"be1a2b5d.496948","name":"apis","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://apis:5000/statistics","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":260,"wires":[["6f9e3aae.b91484"]]},{"id":"6f9e3aae.b91484","type":"debug","z":"be1a2b5d.496948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":260,"wires":[]},{"id":"23ed0644.05dfda","type":"function","z":"be1a2b5d.496948","name":"setTokenHeader","func":"\nmsg.headers = {\n    'x-api-token': `8F03DC2E86EFD74C2B092770A95B3062`\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":260,"wires":[["6ff68cc.1123c74"]]}]