node-red/flows.json
[{"id":"be1a2b5d.496948","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"36e53bc7.cfc584","type":"postgresdb","cfgname":"local","hostname":"postgres","port":"5432","db":"postgres","ssl":false},{"id":"f9f4ac96.80eab","type":"http request","z":"be1a2b5d.496948","name":"manufacturers","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/zwave-js/node-zwave-js/master/packages/config/config/manufacturers.json","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":200,"wires":[["fb6c79.4be0c388"]]},{"id":"9a53cdd.4c8ac3","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["f9f4ac96.80eab"]]},{"id":"2596337a.07ff3c","type":"http request","z":"be1a2b5d.496948","name":"sensors","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/zwave-js/node-zwave-js/master/packages/config/config/sensorTypes.json","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":260,"wires":[["fbf114d2.8348b8"]]},{"id":"21d188f2.0b3338","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":260,"wires":[["2596337a.07ff3c"]]},{"id":"fbf114d2.8348b8","type":"function","z":"be1a2b5d.496948","name":"","func":"msg.payload = JSON.parse(msg.payload.replace(/\\/\\/[^\\n]+/g, ''))\nflow.set('sensors', Object.keys(msg.payload))","outputs":0,"noerr":0,"initialize":"","finalize":"","x":570,"y":260,"wires":[]},{"id":"fb6c79.4be0c388","type":"function","z":"be1a2b5d.496948","name":"","func":"const hexs = Object.keys(msg.payload)\nflow.set('manufacturers', hexs)\n\nconst manuf = hexs.map(h => { \n    return {\n        hex: h,\n        name: msg.payload[h]\n    }\n})\n\nnode.send({payload: {\n    collection: 'manufacturer',\n    data: manuf\n}})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["6ff68cc.1123c74"]]},{"id":"83125458.d39088","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["cd39936c.15e4e"]]},{"id":"cd39936c.15e4e","type":"function","z":"be1a2b5d.496948","name":"","func":"var ID = function () {\n  // Math.random should be unique because of its seeding algorithm.\n  // Convert it to base 36 (numbers + letters), and grab the first 9 characters\n  // after the decimal.\n  return Math.random().toString(16).substr(2, 7);\n};\n\nvar hex = function () {\n  // Math.random should be unique because of its seeding algorithm.\n  // Convert it to base 36 (numbers + letters), and grab the first 9 characters\n  // after the decimal.\n  return Math.random().toString(16).substr(2, 4);\n};\n\nvar random = function(items) {\n    return items[Math.floor(Math.random() * items.length)];\n}\n\nfunction getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nconst manufacturers = flow.get('manufacturers')\nconst types = flow.get('sensors')\n\nconst networks = []\n\nfor(var i = 0;i < 100; i++) {\n    const network = {\n        id: `0x${ID()}`,\n        zjsVersion: '7.0.0',  \n        applicationName:'zwavejs2mqtt',\n        applicationVersion: '2.4.0',\n        devices: [],\n    }\n    \n    const total = getRandomInt(10, 50)\n    for(let i = 1; i < total; i++) {\n        network.devices.push({\n            nodeId: i,\n            manuf: random(manufacturers),\n            prodType: random(types),\n            prodId: '0x' + hex()\n        });\n    }\n\n    networks.push(network)\n}\n\nnode.send({payload: {data: networks}})\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":380,"wires":[["6ff68cc.1123c74"]]},{"id":"6ff68cc.1123c74","type":"http request","z":"be1a2b5d.496948","name":"apis","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://apis:5000/metrics","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":280,"wires":[["6f9e3aae.b91484"]]},{"id":"6f9e3aae.b91484","type":"debug","z":"be1a2b5d.496948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"640cb1dd.83d3c","type":"http request","z":"be1a2b5d.496948","name":"auth","method":"POST","ret":"obj","paytoqs":"ignore","url":"apis:5000/auth","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":140,"wires":[["e14994f7.460d28"]]},{"id":"4200cdfd.b1dc14","type":"inject","z":"be1a2b5d.496948","name":"","props":[{"p":"payload.key","v":"Og9O}$[wKk=<$Z*qUduK","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":140,"wires":[["640cb1dd.83d3c"]]},{"id":"e14994f7.460d28","type":"debug","z":"be1a2b5d.496948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":140,"wires":[]}]